<ion-view view-title="Tracker">
<ion-content>
  <div class="row">
    <div class="col col-50" >
      <allergix-daily-tracker ></allergix-daily-tracker>
    </div>
    <div class="col col-50" >
      <div class="daily-tracker-square ion-ios-body">
        <div class="square-text">
          Incomplete
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col col-100" >
      <div class="daily-tracker-square ion-ios-paper">
        <div class="square-text">
         Run Report
        </div>
      </div>
    </div>

  </div>
  <div class="row" allergix-gallery="">
    <div class="col col-100" >
      <div class="daily-tracker-square ion-image">
        <div class="square-text">
         View Tracker Gallery
        </div>
      </div>
    </div>
  </div>
</ion-content>

</ion-view>
